.navbar {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(10, 10, 10, 0.6);
  backdrop-filter: blur(6px);
}

.nav-logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #b47fff;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: #ffffffcc;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #b47fff;
}